<footer>
  <div>
    <a class="brand" href="#accueil">
      <span class="brand-mark">MA</span>
      <span>mek<br>AGency</span>
    </a>
    <p>{{ i18n.t('footer.description') }}</p>
  </div>
  <div>
    <h3>Contact</h3>
    <p><i-lucide name="map-pin"></i-lucide> Rabat - Maroc</p>
    <p><i-lucide name="mail"></i-lucide> contact&#64;mekagency.ma</p>
    <p><i-lucide name="globe-2"></i-lucide> www.mekagency.ma</p>
  </div>
  <div>
    <h3>Expertises</h3>
    <a href="#services">Consulting digital & IA</a>
    <a href="#services">Creation sites web</a>
    <a href="#services">Applications web</a>
    <a href="#services">Marketing digital</a>
  </div>
  <div>
    <h3>Liens</h3>
    <a href="#accueil">Actualites</a>
    <a href="#accueil">Carrieres</a>
    <a href="#accueil">Stages</a>
    <a href="#accueil">Mentions legales</a>
  </div>
  <small>Copyright 2016-2026 mekAGency. Tous droits reserves.</small>
</footer>
